
<div class="container">
    <div class="row">
        <div class="col-12">
          <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">

              <div>{{curso.nome}}</div>

              <div class="opcoes"> 
                <a href="#"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <a href="/curso/remove/{{curso.id}}">
                    <i class="fas fa-trash"></i>
                  </a>
                </a>
                
                <a href="/curso/update/{{curso.id}}" style="padding-right: 6px"><i class="fas fa-edit"></i></a>
                
              </div>
            </div>

            <div class="card-body">
              <div>
                <b>Sigla: </b>{{curso.sigla}}
              </div>
              <div>
                <b>Nome: </b>{{curso.nome}}
              </div>
              <div>
                <b>Descrição: </b>{{curso.descricao}}
              </div>
              <div>
                <b>Area: </b> {{curso.areaId}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deletar Curso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja deletar esse curso {{curso.nome}}? Essa operação não pode ser desfeita.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Sim, quero apagar esse curso.</button>
      </div>
    </div>
  </div>
</div>